@import "iconos.styl"

body
    background-color #efefef
    font-family 'Nunito' sans-serif
    font-size 15px
    min-width 320px

h1,
h2,
h3,
ul,
p
    padding 0
    margin 0

img
    width 100%

header 

  border-bottom 3px solid #2d2d2d
  overflow hidden
  padding 10px 0
  position fixed
  width 100%
  min-width 320px
  text-align center
  z-index: 2

  #header_logo 
  #header_titulo 
  #header_user
        display inline-block
        vertical-align middle

  #header_logo 
  #header_user
        height 60px
        width 60px

  #header_logo
        float left
        margin-left 20px

  #header_logo
        border #2d2d2d solid 3px
        -webkit-border-radius 40px
        -moz-border-radius 40px
        border-radius 40px
        float left
        margin-left 20px
        overflow hidden

  #header_user
        border #2d2d2d solid 3px
        -webkit-border-radius 40px
        -moz-border-radius 40px
        border-radius 40px
        float right
        margin-right 20px
        overflow hidden

   #header_titulo
        padding-top 1.5em
        width 50%

   #header_titulo a
        color white
        text-decoration none

   #header_titulo a hover
        color #dd4f24

   #header_titulo h1
        color white

   #header_titulo h2
        color #fff
        font-weight bold
        font-size 1.1em

#contenidos
    padding-top 150px
    padding-left 15px
    text-align center
    vertical-align top
    width 100%

.video
    display inline-block
    padding-top 10px
    padding-left 15px
    vertical-align top
    width 340px

footer
    background-color blue
    color white
    text-align center


@import "responsive.styl"