@media screen and (min-width:200px)
    body
        font-size 10px

    header
        min-width 200px
        margin 0 1em 0 0

    header #header_titulo
        width 35%

    header #header_logo,
    header #header_user
        height 30px
        width 30px

    header #header_titulo h2
        font-size 0.2em

    #contenido .contenido_item figure
        margin 0 2em 0 0

@media screen and (min-width:380px)
    body
        font-size 16px
        background-color #C4F7EC

    header #header_logo,
    header #header_user
        height 40px
        width 40px

    header #header_titulo h2
        font-size 0.5em

    #contenido .contenido_item figure
        margin 0 2em 0 0

@media screen and (min-width:768px)
    body
        background-color #52CEB3

    header #header_logo,
    header #header_user
        height 60px
        width 60px

    header #header_titulo h2
        font-size 1.0em

    header #contenido aside
        float left
        height auto
        margin 0 1.5% 0 0
        width 48%

    header #contenido aside:hover
        height auto

    #contenido .contenido_item
        width 48%

    #contenido .item_info h2
        font-size 1.3em

@media screen and (min-width:1280px)
    body
        background-color #6E8FC1

    header #header_logo,
    header #header_user
        height 74px
        width 74px

    header #header_titulo h2
        font-size 1.5em

    #contenido aside
        width 30%

    #contenido .contenido_item
        width 30%
